--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.3.0+cu121
torchvision==0.18.0+cu121
jupyterlab==4.2.0
jupyter-server==2.14.0
opencv-python==4.9.0.80
pillow==10.3.0
pandas==2.2.2
transformers==4.40.2
diffusers==0.27.2
ipywidgets==8.1.2
jupyterlab-widgets==3.0.10
omegaconf==2.3.0
controlnet-aux==0.0.8
accelerate==0.30.1
scikit-learn==1.4.2
matplotlib==3.9.0